@page "/ReactiveTest"

<h1>Counter</h1>

<p><b>Current count:</b> @ViewModel.Count</p>
<p><b>Current text:</b> @ViewModel.Text</p>

<button class="btn btn-primary" @onclick="IncrementCount">Increment count</button>
<button class="btn btn-primary" @onclick="UpdateText">Update Text</button>
